@import "tailwindcss";
.stars,
.stars2,
.stars3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-repeat: repeat;
  background-size: contain;
  animation: moveStars 100s linear infinite;
  z-index: 0;
  opacity: 0.5;
}

.stars {
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 3px 3px;
  animation-duration: 100s;
}

.stars2 {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.6) 1px,
    transparent 1px
  );
  background-size: 2px 2px;
  animation-duration: 150s;
}

.stars3 {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.3) 1px,
    transparent 1px
  );
  background-size: 1px 1px;
  animation-duration: 200s;
}

@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
